@keyframes up {
    from{
        opacity: 0;
        transform: translateY(90px);
    }

    to{
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes image{
    from{
        opacity: 0;
    }

    to{
        opacity: 0.8;
    }
}

@keyframes left{
    from{
        transform: translateX(100%);
    }

    to{
        transform: translateX(10%);
    }
}


.animate-up{
    animation-name: up;
    animation-duration: 400ms;
    animation-fill-mode: backwards;
}
.animate-image{
    animation: image;
    animation-duration: 300ms;
}

.animate-left{
    animation-name: left;
    animation-duration: 350ms;
}