#page-landing{
    min-height: 100vh;
    display: flex;
    flex-direction: row-reverse;
}

#logo{
    width: 7rem;
}

.buttons{
    display: flex;
    flex-direction: column;
}

#donate{
    padding: .5rem 2rem;
    background: #188a24;
    border-radius: .5rem;
    border: none;
    color: #ffffff;
    cursor: pointer;
}

#donate:hover{
    background:#0ca81b;
}

#adoption{
    padding: .5rem 2rem;
    margin-top: 1.2rem;
    background: #188a24;
    border-radius: .5rem;
    border: none;
    color: #ffffff;
    cursor: pointer;
}

#adoption:hover{
    background:#0ca81b;
}

.container{
    padding: 7.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(180deg, #24611F 0%, #67D93F 100%);
}

.text-page{
    min-height: 100vh;
    margin-right: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.name-page{
    font-size: 1.8rem;
}

#pets{
    margin-left: 8rem;
}

#background-image{
    width: 33rem;
    position: absolute;
    right: 35%;
    top: 20%;
}