#page-landing{
    min-height: 100vh;
    display: flex;
    flex-direction: row-reverse;
}

#logo{
    width: 7rem;
}

.buttons{
    display: flex;
    flex-direction: column;
}

#donate{
    padding: .5rem 2rem;
    background: #188a24;
    border-radius: .5rem;
    border: none;
    color: #ffffff;
    
}

#adoption{
    padding: .5rem 2rem;
    margin-top: 1.2rem;
    background: #188a24;
    border-radius: .5rem;
    border: none;
    color: #ffffff;
}

.container{
    padding: 7.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(180deg, #24611F 0%, #67D93F 100%);
}


#background-image{
    width: 33rem;
    position: absolute;
    right: 40%;
    top: 20%;
}