*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100vh;
}

body{
    color: var(--body-text);
    background: var(--body-background);
}

body, input, button, textarea{
    font: 400 1rem/1 'Roboto', sans-serif;
}

h1{
    color: var(--title-text);
    font-family: 'Sansita', sans-serif;
}

@media(max-width: 320px){
    html{
        width: 107vw;
    }
}

@media(max-width: 280px){
    html{
        width: 107vw;
    }
}