<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/partials/variables.css">
    <link rel="stylesheet" href="/css/partials/adopition.css">
    <link rel="stylesheet" href="/css/partials/header.css">
    <link rel="stylesheet" href="/css/partials/animation.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sansita:wght@400;700;800&display=swap" rel="stylesheet">
    <link rel="icon" href="/img/logo.svg">
    <title>Doação | Connetc Pets</title>
</head>
<body>
    <header>
        <a href="/">
            <img src="/img/seta.svg" alt="Voltar">
        </a>
        <h2>Connect Pets</h2>
    </header>
</body>
</html>