<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sansita:wght@400;700;800&display=swap" rel="stylesheet">
    <link rel="icon" href="/img/logo.svg">
    <title>Conncet Pets</title>
</head>
<body> 
    <div id="page-landing">
        <aside class="container">
            <img id="logo" src="/img/logo.svg" alt="logo">

            <div class="buttons">
                <button id="donate" type="button" onclick="donate">Doar</button>
                <button id="adoption" type="button" onclick="adoption">Adotar</button>
            </div>
        </aside>

        <main id="main">
            <div class="name-page">
                <h1>Connect</h1>
                <h1 id="Pets">Pets</h1>
            </div>

            <img id="background-image" src="/img/imagem.svg" alt="Connect Pets">

            <p>Bem-Vindo ao Connect Pets um site para você doar/adotar um pet :)</p>
        </main>
    </div>
</body>
</html>