.container{
    padding: 1rem;
    margin: 2rem 30rem;
    text-align: center;
    border-radius: .5rem;
    border: 1px solid var(--border-inputs);
    background: var(--container-pets);
}

#pet-image{
    margin-bottom: 1rem;
    border-radius: 1rem;
    max-width: 20.6rem;
    max-height: 22rem;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: .9rem;
    border-radius: 0rem 0rem .5rem .5rem;
}

.description a{
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 1rem;
    color: var(--text);
    background: var(--whatsapp-button);
}

.description a:hover{
    background: var(--whatsapp-button-hover);
}

@media(max-width: 1125px){
    .container{
        margin: 2rem 22rem; 
    }
}

@media(max-width: 1060px){
    .container{
        margin: 2rem 21rem;
    }
}

@media(max-width: 1024px){
    .container{
        margin: 2rem 20rem;
    }

    footer{
        font-family: 1.5rem;
    }
}

@media(max-width: 768px){
    .container{
        margin: 2rem 10rem;
    }

    footer{
        font-size: 1.2rem;
    }
}

@media(max-width: 540px){
    .container{
        margin: 2rem 5rem;
    }

    footer{
        font-size: 1rem;
    }
}

@media(max-width: 414px){
    .container{
        margin: 2rem 1rem;
    }
}

@media(max-width: 375px){
    #pet-image{
        width: 19rem;
    }

    footer{
        font-size: .8rem;
    }
}

@media(max-width: 360px){
    #pet-image{
        width: 18rem;
    }
}

@media(max-width: 320px){
    .container{
        margin: 2rem 0rem;
    }

    footer p{
        font-size: .7rem;
    }
}

@media(max-width: 280px){
    .container {
        padding: 1rem;
        margin: 1rem 0rem;
        text-align: center;
        border-radius: .5rem;
        border: 1px solid var(--border-inputs);
        background: var(--container-pets);
    }

    #pet-image{
        margin-bottom: 1rem;
        border-radius: 1rem;
        max-width: 15.6rem;
        max-height: 13rem;
    }
}
