.dados{
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form{
    background: var(--container-pets);
    border: 1px solid var(--border-inputs);
    margin: 1rem;
    border-radius: .6rem;
}

.inputs{
    margin-top: 1rem;
    padding: 0rem 1rem;
    border: none;
}

fieldset legend{
    padding-bottom: 1.2rem;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 700;
    color: var(--body-text);
}

.input-block + .input-block{
    margin-top: 1.4rem;
}

.input-block label{
    color: var(--label-text);
    margin-bottom: .4rem;
    line-height: 1.5;
}

.input-block label span{
    font-size: .8rem;
    color: var(--label-text);
    line-height: 1.5;
}

.input-block input{
    width: 100%;
    height: 2.5rem;
    padding: .4rem 1rem;
    background: var(--background-inputs);
    border: 1px solid var(--border-inputs);
    border-radius: .6rem;
    color: var(--inputs-text);
    outline: none;
}

.input-block input:focus{
    border: 1px solid #00b800;
}

.file::-webkit-file-upload-button{
    margin-top: .2rem;
    border-radius: .2rem;
    border: none;
    color: var(--text);
    background: var(--whatsapp-button);
    cursor: pointer;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

#button{
    margin: 3rem 0;
    padding: .5rem 2rem;
    border: none;
    border-radius: .6rem;
    color: var(--text);
    background: var(--whatsapp-button);
    cursor: pointer;
}

#button:hover{
    background: var(--whatsapp-button-hover);
}
