body{
    overflow: hidden;
}

#page-landing{
    min-height: 100vh;
    display: flex;
    flex-direction: row-reverse;
}

#logo{
    width: 7rem;
}

.buttons{
    display: flex;
    flex-direction: column;
}

#donate{
    padding: .5rem 2rem;
    background: var(--button-background);
    border-radius: .5rem;
    border: none;
    color: var(--text);
    cursor: pointer;
}

#donate:hover{
    background: var(--button-background-hover);
}

#adoption{
    padding: .5rem 2rem;
    margin-top: 1.2rem;
    background: var(--button-background);
    border-radius: .5rem;
    border: none;
    color: var(--text);
    cursor: pointer;
}

#adoption:hover{
    background: var(--button-background-hover);
}

.sidebar{
    padding: 7.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: var(--sidebar-background);
}

.text-page{
    min-height: 100vh;
    min-width: 27vw;
    margin-right: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.name-page{
    font-size: 1.8rem;
}

#pets{
    margin-left: 8rem;
}

#background-image{
    width: 33rem;
    opacity: 0.85;
    position: absolute;
    right: 30%;
    top: 20%;
}

@media (max-width: 1200px){
    #background-image{
        width: 0;
    }

    .text-page{
        min-height: 100vh;
        min-width: 36vh;
        margin-right: 275px;
        margin-left: 75px;
    }
}


@media (max-width: 1024px){
    .sidebar{
        padding: 99px 130px;
    }

    #background-image{
        width: 0;
    }

    .text-page{
        min-height: 100vh;
        min-width: 41vh;
        margin-right: 184px;
        
    }
}

@media (max-width: 880px){
    .sidebar{
        padding: 155px 95px;
    }

    .text-page{
        min-height: 100vh;
        margin-right: 105px;
    } 
}

@media (max-width: 699px){
    .sidebar{
        padding: 130px 142px;
        min-width: 100vw;
    }

    #donate{
        padding: 15px 80px;
    }

    #adoption{
        padding: 15px 80px;
    }
}
