:root{
    --button-background: #188a24;
    --button-background-hover:#0ca81b;
    --text: #ffffff;
    --sidebar-background: linear-gradient(180deg, #24611F 25%, #67D93F 100%);
    --header-background: linear-gradient(180deg, #24611F 0%, #67D93F 100%);
    --body-background: #F3FFEF;
    --body-text: #4F4C4C;
    --label-text: #ABAAAA;
    --inputs-text: #5c8999;
    --title-text: #01863E;
    --container-pets: #F4F0F0;
    --container-footer-pets: #eeeeee;
    --whatsapp-button: #03CE60;
    --whatsapp-button-hover:#03EB6E;
    --background-inputs: #f0f0f0;
    --border-inputs: #c4c4c4;
}